#divRegistered{
	height: 100px;
	width: 600px;
	background-color: blue;
	color: black;
	font-size: 20px;
	display: none;
}

#accordion{
/*	height: 100px;*/
	width: 600px;
	background-color: white;
	color: gray;
	font-size: 10px;
	font-family: Arial; 
	padding: 20px;
/*	display: none;*/
}


.container{
/*	background-color: #222;*/
	color: #fff;
	margin: 20px auto;
/*	overflow: hidden;*/
	padding: 20px;
	position: relative;
	width: 600px;
}

form {
	display: inline-block;
	padding: 15px;
	margin: 20px auto;
	color: orange;
	background-color: white;
	font-family: Arial; 
	font-weight: bold;
	width: 300px;
/*	display: flex; 
	flex-direction: column;*/
	float: left;
}

label {
	float: right;	
}

h1 {
	background-color: white;
	color: orange;
	font-family: Arial; 
	padding: 20px;
}

h2 {
	background-color: white;
	color: gray;
	font-family: Arial; 
	padding: 20px;
	width: 600px;
}

h3 {
	background-color: gray;
	color: orange;
	font-family: Arial; 
	padding: 20px;
	width: 600px;
	font-size: 11pt;
	font-weight: normal;
}

.good {
    	background-color: green;
	color: white;
}

.badboy {
    	background-color: red;
	color: white;
}